################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/ClearWeb/v15
/src/.vs
/src/ClearWebWs01/bin
/src/ClearWebWs01/obj
/src/ClearWeb/bin
/src/ClearWeb/obj
