@{
    ViewData["Title"] = "Clarity";
}
<script>
    $(document).ready(function () {
    });
</script>

<div class="text-center">
    <h1 class="display-4">Welcome to Clarity</h1>
    <p>Learn more about this revolutionary device!</p>
    <div class="clarity-banner"/>
</div>
