@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2><p>1. Home is a private place.</p></h2>
<p>Behind your front door you get to be yourself.  You also get to decide who can come in.  If you invite us, we'll respect your privacy and be a good guest.</p>
