@model ClearWebWs01.ViewModels.AppDataViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.DeviceList.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.DeviceList.First().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => "Room")
            </th>
            <th>
                @Html.DisplayNameFor(model => "Location")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
</table>