@model ClearWebWs01.ViewModels.AppDataViewModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script language="jscript">
    $(function () {
        tipsPrompt = "Clarity gave you a 4 digit code (press the Home button to hear it again). ";
        allFields = $([]).add("#activationCode");
        dlgWnd = $("#dialog");
        tips = $("#validateTips");
        code = $("#activationCode");

        function checkIsNumber(o, msg) {
            regexp = /^\d{4}$/;
            if (!regexp.test(o.val())) {
                o.addClass("ui-state-error");
                updateTips(msg);
                return false;
            }

            return true;
        }

        function updateTips(t) {
            tips
                .text(t)
                .addClass("ui-state-highlight");
            setTimeout(function () {
                tips.removeClass("ui-state-highlight", 1500);
            }, 500);
        }

        function addDevice() {
            if (!checkIsNumber(code, "A 4 digit code is expected.")) {
                return false;
            }

            $.ajax({
                url: '/dashboard/BindDeviceToThisUser/' + code.val(),
                method: 'PUT',
                success: function (data) {
                    if (data.success) {
                        updateTips("Adding device " + data.device.id + " to list.");
                    }
                    else {
                        updateTips(data.message);
                    }
                },
                error: function (data) {
                    alert("UNEXPECTED ERROR FROM SERVICE." + data);
                }
            });
        }

        dlgWnd.dialog({
            autoOpen: false,
            resizable: false,
            height: "auto",
            width: 500,
            modal: true,
            buttons: {
                "OK": function () {
                    if (!addDevice())
                        return;

                    dlgWnd.dialog("close");
                }
            },
            close: function () {
                allFields.removeClass("ui-state-error");
                tips.text(tipsPrompt);
                code.val("");
            }
        });
        tips.text(tipsPrompt);
    });
</script>

<h1>Dashboard</h1>

<!-- Initially hidden modal dialog for collecting the Activation Code -->
<div id="dialog" title="Add Your New Device">
    <p id="validateTips"/>
    <p>Enter the Activation Code:</p>
    <input id="activationCode" type="text" />
</div>
</>
<div>
    <!-- OWNED DEVICES SECTION-->
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h4 class="card-title">Devices You Own</h4>
        </div>
        <div class="card-body">
            @if (Model == null || Model.OwnedDevices == null || Model.OwnedDevices.Count() == 0)
            {
                <p>There are no devices in your list yet.</p>
                <p>
                    Click <a href = "#" onclick = "$('#dialog').dialog('open');" >here</a> to activate a device.
                </p>
            }
                else
                {
                    <partial name="_DevicesList" model="@Model" />
                    
                <p>
                    <a href="#" onclick="$('#dialog').dialog('open');">Add a Device</a>
                </p>
            }
        </div>
    </div>
    <!-- ASSOCIATED DEVICES SECTION -->
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h4 class="card-title">Devices Others Own That You Can Manage</h4>
        </div>
        <div class="card-body">
        </div>
    </div>
    <!-- SUBSCRIPTIONS -->
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h4 class="card-title">Your Subscriptions</h4>
        </div>
        <div class="card-body">
            something here...
        </div>
    </div>
</div>

